@charset "UTF-8";

body{
    background-color: rgb(35, 115, 185);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1#pr{
    color: blueviolet;
    text-align: center;

}
h2{
    color: brown;
}

h1{
    color: aqua;
}
.basico{
    color: rgb(223, 226, 20);
}